{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Bar de Paco
    <small>Nosotros</small>
  </h1>

  <!-- Image Header -->
  <img class="img-fluid rounded mb-4" src="{{ asset('img/nosotros.png') }}" alt="">

  <!-- Team Members -->
  <h2>Nuestro equipo</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ asset('img/paco.png') }}" alt="">
        <div class="card-body">
          <h4 class="card-title">Paco Gomez</h4>
          <h6 class="card-subtitle mb-2 text-muted">Director</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ asset('img/paco.png') }}" alt="">
        <div class="card-body">
          <h4 class="card-title">Paco Gomez</h4>
          <h6 class="card-subtitle mb-2 text-muted">Chef</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ asset('img/paco.png') }}" alt="">
        <div class="card-body">
          <h4 class="card-title">Paco Gomez</h4>
          <h6 class="card-subtitle mb-2 text-muted">Metre</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock %}
